/* BODY STYLING */ 
/* the canvas element holds animations and is contained in the body element */
canvas {
    display: block;
    margin: auto;
    position: absolute;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/* this div wraps any type of section element (classes include title or content) */
.main-body-wrapper { 
    width: 75%; 
    margin: 0 auto; 
}
section{ 
    width: 65%; 
    background-color: black; 
    float: right; 
}
.title { 
    padding-top: 7px; 
}
.content { 
    padding-top: 5px; 
}
/* header/footer */
.header-footer-wrapper { 
    float: left; 
    padding-left: 10%; 
}
header { 
    text-align: center; 
    display: inline-block; 
    width: 20%; position: fixed; 
    -webkit-font-smoothing: subpixel-antialiased; }
footer { 
    text-align: center;
    display: inline-block; 
    width: 20%; 
    position: fixed; 
    bottom: 50px; 
    -webkit-font-smoothing: subpixel-antialiased; }
/* list items of nav bar */
/* (this is contianed in the footer) */ 
#navright {
    text-align: left; 
    list-style-type: none; 
    font-size: 17.5px;
    display: inline-block;
    margin: auto; 
}
/* list items */ 
#body-list {
    text-align: left; 
    list-style-type: none;
}
#cv-list { 
    text-align: left;
    margin-bottom: 7px; 
}
#cv-list li { 
    font-size: 14px; 
    padding-left: 15px;
    color: whitesmoke;
    list-style-position: inside;
}
/* this is the actual body element, containing the canvas, main-body, and header-footer */
body { 
    background-color: black;
    height: 100vh;
    padding: 100px; 
    font: 15px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; 
}
/* page breaks */ 
.page-break {
    position: relative;
    height: 2px;
    background: lime;
    overflow: hidden;
}
/* animating the page breaks! */
/* .page-break::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent, red, transparent);
    animation: slide 2s infinite;
} 
@keyframes slide {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
} */

/* TITLE AND TEXT */
/* various text fields and types */
h1, h2, h3, h4, p { color: whitesmoke; }
h1, h2, h3 { line-height: 1.1; padding-top: 3px; margin: 0 0 10px; }
h1 { font-size: 50px;}                                             /* page title (my name!) */
h2 { font-size: 36px; margin-bottom: 0; }                          /* section titles for body of each page */
h3 { font-size: 22px; }                                            /* project/subsetion titles for body of each page */
h4 { font-size: 15px; margin-top: 0; margin-bottom: 0; }           /* slideshow image alt text */      
p { font-size: 14px; padding-left: 10px; }                         /* paragraphs */   
/* a line of text with substrings that are aligned differently (right vs. left) */ 
.line { 
    overflow: hidden; 
}
.left { 
    float: left; 
}
.right { 
    float: right; 
}

/* CLICKABLE LINKS */
a { color: lime; text-decoration: none; }
a:hover, a:focus { color: red; font-weight: bold; text-decoration: underline;}
a small { font-size: 11px; color: #777; margin-top: -0.3em; display: block; }
a:hover small { color: red; }

/* IMAGES */ 
/* general */
img { 
    display: inline-flex;  
    border: 2px solid lime;
    border-radius: 2px;
    padding: 3px;
}
/* header */ 
.img-header { 
    max-width: 60%;
    max-height: 60%;
}
.img-header:hover, .img-header:focus { 
    border: 3px solid red;
    border-radius: 4px;
    padding: 5px;
}
/* clickable */
.img-clickable { 
    max-width: 80%;
    max-height: 80%;
}
.img-clickable:hover, .img-clickable:focus { 
    border: 3px solid red;
    border-radius: 4px;
    padding: 5px;
    max-width: 85%;
    max-height: 85%;
    cursor: pointer; 
}
/* row-aligned image contianers */ 
.row {
    display: inline-flex;
    text-align: center;
    width: 75%; 
}
.column {
    flex: 33.33%;
    padding: 7px;
    width: fit-content; 
    height: fit-content; 
}
/* slideshow images and containers */ 
.slideshow-container { 
    text-align: center; 
}
.phantom-slideshow { 
    position: relative; 
    pointer-events: none;
}
.phantom-img { 
    position: absolute; 
    opacity: 0;                                       
} 
.slideshow-screen img {
    display: inline-flex;
    width: fit-content; 
    height: fit-content; 
    max-width: 95%;
} 
#next-button, #prev-button {
    padding: 10px 20px;
    font-size: 16px; 
    color: black;
    background-color: lime;
    border: 2px solid white;
    border-radius: 5px; 
    cursor: pointer;
}
#next-button:hover, #prev-button:hover {
    border: 3px solid red;
}

/* MEDIA */
@media print, screen and (max-width: 960px) { div.wrapper { width: auto; margin: 0; }
  header, section, footer { float: none; position: static; width: auto; }
  header { padding-right: 320px; }
  section { border: 1px solid #e5e5e5; border-width: 1px 0; padding: 20px 0; margin: 0 0 20px; }
  header a small { display: inline; }
  header ul { position: absolute; right: 50px; top: 52px; } }
@media print, screen and (max-width: 720px) { body { word-wrap: break-word; }
  header { padding: 0; }
  header ul, header p.view { position: static; }
  pre, code { word-wrap: normal; } }
@media print, screen and (max-width: 480px) { body { padding: 15px; }
  .downloads { width: 99%; }
  .downloads li, .downloads li + li + li { width: 33%; } }
@media print { body { padding: 0.4in; font-size: 12pt; color: #444; } } 